$include-html-classes: true;

@import "settings";
@import "foundation";
@import "foundation/components/dropdown";
@import "foundation/components/dropdown-buttons";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",q
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";




.pad1 {
    padding:20px;
}

.pad2 {
    padding:20px;
}

.bbox {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}






body {
    font-size:13px;
}



#calendario {

    font-size: 16px;
    margin-bottom:60px;
    padding:5px 0px;

    span.fa {
	padding:5px;
	font-size:12px;
    }

    .diaCalHorizontal {

	@extend .bbox;

	padding: 3px;
	width:3.22%;
	font-size:12px;
	height:35px;
	float:left;
	display: inline-block;


	border-left:1px solid black;

	&:first-child {
	    border:none;
	}

	&.diaConEventos {
            background-color:#feff1e;
	}

	&:hover {
            background-color:#aaaaaa;
	}
	.numero {
	    font-size: 12px;	
	}


	&.diaConEventos ul {
	    display:none;
	    width:200px;
	    z-index:999;
	    background-color:#000;
	    &, a{
		color:#fff;
		font-size:11px;
	    }
	    margin: 20px -4px;
	    
	    li {
		margin:10px 0;
		padding: 5px;
	    }
	}

	&.diaConEventos:hover ul {
            display:block;
	}

    }

    #dropdownsFechas > div {
	float:left; margin-right:10px;
    }

}



ul {
    list-style: none;

    margin:0;
}











#cabecera {

    & > div {
	height:400px;
	@extend .pad2;
    }

    margin-bottom:40px;
}

#fechaPrincipal {
    margin-top:50px;
}

.img {
    background-color:#ccc;
}



#menu {

    a {
	color:#000;
    }

}



.botonFecha {

    padding:0 2px;
    
    color:#000;

    a {
	color:#000;
    }
    
    &:hover {
	background-color:#eee;
	
    }
}



h5 {

    margin: 0;
}



#entradas {


    .entrada {
	@extend .bbox;
	@extend .pad1;

	
	height:300px;
	display:inline-block;
	overflow:auto;

	&:hover {
	    background-color:#ddd;
	}
    }

}



#footer {

    border-top:1px solid #ddd;
    
    margin-top:30px;
    padding:10px 0;
    text-align:right;
}


